In [3]:
import pandas as pd

In [31]:
df = pd.read_csv('./data/usa_festival_info.xlsx',sep='\t')

df2 = pd.read_csv('./data/20150219003000.mentions.CSV',sep='\t',skiprows=1)
# df3 = pd.read_csv("D:/项目文件/GKG.xlsx",sep='\t',skiprows=1)
df4 = pd.read_excel("D:/项目文件/GKG.xlsx")

In [21]:
df

,410446832,20140219,201402,2014,2014.1342,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,1.4,Australia.1,AS.3,AS.4,Unnamed: 55,-27.1,133.1,AS.5,20150219010000,http://www.fruitnet.com/asiafruit/article/164295/cherries-on-top-for-chinese-new-year
0,410446833,20140219,201402,2014,2014.1342,NaN,NaN,NaN,NaN,NaN,...,4,"Shanghai, Shanghai, China",CH,CH23,13243,31.2222,121.45800,-1924465,20150219010000,http://www.fruitnet.com/asiafruit/article/1642...
1,410446834,20140219,201402,2014,2014.1342,NaN,NaN,NaN,NaN,NaN,...,3,"Linn County, Oregon, United States",US,USOR,NaN,44.4996,-122.58500,1135857,20150219010000,http://democratherald.com/news/local/education...
2,410446835,20140219,201402,2014,2014.1342,NaN,NaN,NaN,NaN,NaN,...,1,China,CH,CH,NaN,35.0000,105.00000,CH,20150219010000,http://news.nationalpost.com/2014/11/21/charle...
3,410446836,20140219,201402,2014,2014.1342,NaN,NaN,NaN,NaN,NaN,...,1,United Kingdom,UK,UK,NaN,54.0000,-2.00000,UK,20150219010000,http://www.timeshighereducation.co.uk/features...
4,410446837,20140219,201402,2014,2014.1342,NaN,NaN,NaN,NaN,NaN,...,3,"Chicago, Illinois, United States",US,USIL,IL031,41.8500,-87.65010,423587,20150219010000,http://www.denverpost.com/news/ci_27553476/gop...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3292,410450125,20150219,201502,2015,2015.1342,scoGOV,SCOTTISH,NaN,NaN,sco,...,4,"Dumfries, Dumfries and Galloway, United Kingdom",UK,UKU2,40176,55.0667,-3.55000,-2594813,20150219010000,http://www.windaction.org/posts/42186-scotland...
3293,410450126,20150219,201502,2015,2015.1342,scoGOV,SCOTTISH,NaN,NaN,sco,...,4,"Nithsdale, Dumfries and Galloway, United Kingdom",UK,UKU2,40176,55.1333,-3.73333,-2604158,20150219010000,http://www.windaction.org/posts/42186-scotland...
3294,410450127,20150219,201502,2015,2015.1342,scoGOV,SCOTTISH,NaN,NaN,sco,...,4,"Dumfries, Dumfries and Galloway, United Kingdom",UK,UKU2,40176,55.0667,-3.55000,-2594813,20150219010000,http://www.windaction.org/posts/42186-scotland...
3295,410450128,20150219,201502,2015,2015.1342,scoGOV,SCOTTISH,NaN,NaN,sco,...,4,"Nithsdale, Dumfries and Galloway, United Kingdom",UK,UKU2,40176,55.1333,-3.73333,-2604158,20150219010000,http://www.windaction.org/posts/42186-scotland...
3296,410450129,20150219,201502,2015,2015.1342,tam,TAMIL,NaN,NaN,tam,...,4,"Mumbai, Maharashtra, India",IN,IN16,70184,18.9750,72.82580,-2092174,20150219010000,http://coisasderoro.blogspot.com/2015/02/sari....

In [24]:
df2

,410437215,20150219003000,20150219003000.1,1,buzzfeed.com,http://www.buzzfeed.com/salvadorhernandez/revenge-porn-king-cuts-plea-deal-in-hacking-case,3,-1,307,358,1.1,60,2280,-11.0526315789474,Unnamed: 14,Unnamed: 15
0,410437216,20150219003000,20150219003000,1,thehindu.com,http://www.thehindu.com/news/cities/Tiruchirap...,1,-1,826,698,0,20,1649,-4.198473,NaN,NaN
1,410424156,20150219000000,20150219003000,1,stuff.co.nz,http://www.stuff.co.nz/waikato-times/entertain...,4,-1,673,599,0,10,1280,5.429864,NaN,NaN
2,410424157,20150219000000,20150219003000,1,stuff.co.nz,http://www.stuff.co.nz/waikato-times/entertain...,4,-1,674,600,1,20,1280,5.429864,NaN,NaN
3,410424210,20150219000000,20150219003000,1,thetimesherald.com,http://www.thetimesherald.com/story/news/local...,7,-1,2431,2364,1,100,3746,2.261712,NaN,NaN
4,410437217,20150219003000,20150219003000,1,buzzfeed.com,http://www.buzzfeed.com/salvadorhernandez/reve...,3,-1,307,359,0,40,2280,-11.052632,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7985,410441012,20150219003000,20150219003000,1,thehindu.com,http://www.thehindu.com/news/cities/bangalore/...,4,360,390,379,1,50,950,1.282051,NaN,NaN
7986,410441013,20150219003000,20150219003000,1,theguardian.com,http://www.theguardian.com/politics/2015/feb/1...,4,1055,-1,1018,1,100,3136,0.371747,NaN,NaN
7987,410441014,20150219003000,20150219003000,1,theguardian.com,http://www.theguardian.com/politics/2015/feb/1...,2,715,680,673,1,100,3136,0.371747,NaN,NaN
7988,410441015,20150219003000,20150219003000,1,scotsman.com,http://www.scotsman.com/news/politics/top-stor...,3,467,490,533,1,30,2687,-0.921659,NaN,NaN
7989,410441016,20150219003000,20150219003000,1,scottishgreens.org.uk,http://www.scottishgreens.org.uk/news/ttip-joh...,8,1386,-1,1405,1,100,2251,-1.923077,NaN,NaN

In [32]:
df4

,Unnamed: 0,DATE,SourceCollectionIdentifier,SourceCommonName,DocumentIdentifier,Counts,V2Counts,Themes,V2Themes,Locations,...,SharingImage,RelatedImages,SocialImageEmbeds,SocialVideoEmbeds,Quotations,AllNames,Amounts,TranslationInfo,Extras,Unnamed: 27
0,GKGRECORDID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20180322104500-239,2.018032e+13,1.0,aaj.tv,http://aaj.tv/2018/03/kremlin-calls-johnson-li...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_SECRETARY;LEADER;TAX_FNC...,"PROPAGANDA,657;TAX_FNCACT_FOREIGN_MINISTER,394...",...,"wc:168,c1.1:1,c12.1:11,c12.10:12,c12.12:5,c12....",http://aaj.tv/wp-content/uploads/2016/11/BORIS...,NaN,NaN,NaN,656|67||Putin is going to use it in the way Hi...,"British Foreign Secretary Boris Johnson,150;Pr...",NaN,NaN,<PAGE_AUTHORS>Asim Malik</PAGE_AUTHORS>
2,2,20160718154500-505,2.016072e+13,1.0,abc.az,http://abc.az/eng/news/97511.html,NaN,NaN,TAX_WORLDLANGUAGES;TAX_WORLDLANGUAGES_AZERBAIJ...,"TAX_WORLDLANGUAGES_AZERBAIJAN,17;TAX_WORLDLANG...",...,"wc:164,c1.2:11,c12.1:2,c12.10:8,c12.12:5,c12.1...",http://abc.az/photos/106842.jpg,http://abc.az/img/arrow-m.gif;http://abc.az/im...,NaN,NaN,NaN,"State Customs Committee,161","08,tons,191;63,tons,252;617,bn versus $425 5,3...",NaN,NaN
3,3,20190508200000-1136,2.019051e+13,1.0,al.com,https://www.al.com,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN